*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body {
 margin: 0; 
 padding: 0;  
 /* background-color: #748D92; */

 /* background-color: #84a5bc; */

 background-color: #b3c9d9;
 /* background-color: rgb(223,223,223); */
}
header{
    text-align: center;
    background-color: #D3D9D4;

    /* background-color: #edecf1; */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15)
}
header h1{
    padding: 20px;
    color: #114860;
    font-family: "Anton", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.body-container{
    display: flex;
    margin-top: 50px;
}   
/* TEMPRATURE */
.temp-body{
    margin-left: 60px;
    margin-top: 40px;
    width:600px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.607); */
    background-color: #edecf1;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.temp-details{
    margin-left: 200px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.temp-details h1{
    margin-top: 40px;
    color: rgb(142, 8, 8);
}

/*  TEMP ANIMATION */

.circle-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
  }
  
  .icon {
    position: absolute;
    color: #fff;
    font-size: 30px;
    top: 80px;
    left: 85px;
    transform: translate(-50%, -50%);
  }
  
  .circle {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    animation: spin 10s linear infinite;
  }
  
  .circle-wrapper:active .circle {
    animation: spin 2s linear infinite;
  }
  
  .warning {
    background-color: #fba43a;
    border: 5.5px dashed #F0D500;
  }
  
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }
  
/* WATER LEVEL */

.water-body{
    margin-left: 40px;
    margin-top: 40px;
    width:600px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.607); */
    background-color: #edecf1;
    display: flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.water{
    width:160px;
    height: 160px;
    background-color: #35b3e7;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0 0 20px 0 rgba(0,0,0,.8), 0 0 20px 0 rgba(0,0,0,.3);
    overflow: hidden;
}
.water:before, .water:after{
    content:'';
    position: absolute;
    width:200%;
    height: 200%;
    top: -50%;
    left: 50%;
    background: #fff;
}
.water:before{
    border-radius: 45%;
    background:#fff;
    animation:wave 5s linear infinite;
}
.water:after{
    border-radius: 35%;
    background:rgba(255,255,255,.3);
    animation:wave 5s linear infinite;
}
@keyframes wave{
    0%{
        transform: translate(-50%, -50%) rotate(0);
        top: -30%;
    }
    50%{
    	top: -50%;
    }
    100%{
        transform: translate(-50%, -50%)  rotate(360deg);
        top: -30%;
    }
}

/* WATER DETAILS */
.water-details{
    margin-left: 30px;
    margin-top: 35px;
    color: rgb(142, 8, 8);
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* FOOD FEEDER */

.food-feeder{
    /* background-color: #2b2323; */
    background-color: #edecf1;
    width: 380px;
    height: 120px;
    padding: 10px;
    margin-left: 530px;
    margin-top: 90px;

    border-radius: 10px;
    display: flex;
    gap: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: rgb(215, 164, 35);
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.food-feeder h1{
    margin-top: 30px;
}
.food-feeder img{
    margin-left: 10px;
    width: 90px;
    height: 100px;
    border-radius: 50%;
}

/* FEEDER ANIMATION */
.temperature {
    font-size: 0.8em;
    margin-top: 15px;
}
.distance
{
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 10px; 
}
.alert {
    font-size: 1.5em;
    margin-top: 60px;
    margin-left: 10px;
    
}
.led {
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 10px;
}
.message
{
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 10px;
    color: red;
}
.alert {
    color: red;
}
.led {
    color: green;
}
